<launch>
    
    <param name="/use_sim_time" value="ture"/>
    <node pkg="rosbag" type="play" name="playbag" args="--clock -r 3 /home/ziv/sunshine_dateset/building-002.bag /rslidar_points:=/lidar_blue_pointcloud"/>

    <param name="scan_line" type="int" value="16" />
    <param name="map_resolution" type="double" value="0.4" />
    <param name="submap_len" type="int" value="6" />
    <param name="keyframe_dist_threshold" type="double" value="1" />
    <param name="keyframe_angle_threshold" type="double" value="0.1" />
    <param name="save_map_resolution" type="double" value="0.1" />

    <node pkg="mloam" type="laserProcessing" name="laserProcessing" output="screen" />

    <node pkg="mloam" type="laserOdometry" name="laserOdometry" output="screen" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find mloam)/rviz/show.rviz" />
    </group>

</launch>
